<template>
  <div class="about">
    <h1>
      The Todo App was written by
      <a href="https://twitter.com/bkayranci/" target="_blank" rel="noopener noreferrer">Türkalp</a> for
      <a href="https://www.modanisa.com/" target="_blank" rel="noopener noreferrer">Modanisa</a> Study Case.
    </h1>
  </div>
</template>
