<template>
  <div class="create-todo">
    <div class="row">
      <div class="col-6">
        <div class="mb-3 row">
          <label for="staticTitle" class="col-2 col-form-label">Title</label>
          <div class="col-12">
            <input
              v-model="title"
              type="text"
              name="title"
              id="title"
              class="form-control"
            />
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputContent" class="col-2 col-form-label">Content</label>
          <div class="col-12">
            <textarea
              rows="7"
              v-model="content"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="col-6">
        <h5>Preview</h5>
        <div class="card mb-3">
          <div :class="{'p-3': !title, 'card-header':true}">
            {{ title }}
          </div>
          <div class="card-body align-self-start">
            <p class="card-text" v-html="mdContent"></p>
            <p v-if="!content"><br/></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button class="btn btn-warning" @click="clearCard">Clear</button>
      </div>
      <div class="col-6">
        <button class="btn btn-success" @click="saveTodo" v-if="!this.isEdit">
          Save
        </button>
        <button class="btn btn-success" @click="updateTodo" v-else>
          Update
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import marked from "marked";
import API_URL from "@/config"
export default {
  name: "CreateTodo",
  data: function () {
    return {
      title: "",
      content: "",
      mdContent: "",
      isEdit: false,
    };
  },
  methods: {
    updateTitle: function (event) {
      let text = event.target.innerText;
      this.title = text;
    },
    updateContent: function (event) {
      let text = event.target.innerText;
      this.content = text;
    },
    clearCard: function () {
      this.title = "";
      this.content = "";
      this.todoId = null;
      this.isEdit = false;
    },
    saveTodo: function () {
      fetch(`${API_URL}/v1/todos`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          title: this.title,
          content: this.content,
        }),
      })
        .then(async (response) => {
          if (!response.ok) {
            throw new Error((await response.json()).error);
          }

          let data = await response.json();
          this.$emit("saved", data);
          this.clearCard();
        })
        .catch((error) => {
          console.error(error)
          alert(error)
        });
    },
    todoEdit: function (todoId) {
      fetch(`${API_URL}/v1/todos/${todoId}`).then(
        async (response) => {
          if (response.ok) {
            let todo = await response.json();
            this.clearCard();
            this.isEdit = true;
            this.todoId = todoId;
            this.content = todo.Content;
            this.title = todo.Title;
          }
        }
      );
    },
    updateTodo: function () {
      fetch(`${API_URL}/v1/todos/${this.todoId}`, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          title: this.title,
          content: this.content,
        }),
      })
        .then(async (response) => {
          if (!response.ok) {
            throw new Error(response.content);
          }

          let data = await response.json();
          this.clearCard();
          this.todoId = null;
          this.$emit('updated', data)
        })
        .catch((error) => {
          console.error(error);
        });
    },
  },
  watch: {
    content: function (val) {
      this.mdContent = marked(val, { sanitize: true });
    },
  },
};
</script>
