<template>
  <div class="todo-list">
    <div class="row">
      <div class="col-12">
        <CreateTodo ref="creator" @saved="addTodo" @updated="updatedTodo" />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <div class="accordion accordion-flush" id="accordion-todo-list">
          <div class="accordion-item" v-for="(todo, idx) in todos" :key="idx">
            <h2 class="accordion-header" :id="`flush-heading-${idx}`">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                :data-bs-target="`#flush-collapse-${idx}`"
                aria-expanded="false"
                :aria-controls="`flush-collapse-${idx}`"
              >
                #{{ todo.ID }} - {{ todo.Title }}
              </button>
            </h2>
            <div
              :id="`flush-collapse-${idx}`"
              class="accordion-collapse collapse"
              :aria-labelledby="`flush-heading-${idx}`"
              data-bs-parent="#accordion-todo-list"
            >
              <div class="accordion-body text-start" v-html="mdRender(todo.Content)"></div>
              <div class="accordion-footer m-2">
                  <div class="row">
                      <div class="col-6">
                          <button class="btn btn-danger" @click="todoDelete(todo.ID)">Delete</button>
                      </div>
                      <div class="col-6">
                          <button class="btn btn-warning" @click="todoEdit(todo.ID)">Edit</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CreateTodo from "@/components/CreateTodo";
import API_URL from "@/config"
import marked from 'marked'
export default {
  name: "TodoList",
  components: {
    CreateTodo,
    // TodoCard,
  },
  mounted: function () {
    this.getTodos()
  },
  data: function () {
    return {
      todos: [],
    };
  },
  methods: {
    addTodo: function (todo) {
      this.todos.push(todo);
    },
    getTodos: function () {
        fetch(`${API_URL}/v1/todos`).then(response => response.json()).then(data => {
            this.todos = data
        })
    },
    todoDelete: function (todoId) {
        let decision = confirm("Are you sure?")
        if (decision) {
            fetch(`///v1/todos/${todoId}`, {method: 'DELETE'}).then(response => {
                if (response.ok) {
                    alert('OK')
                    this.todos = this.todos.filter(todo => todo.ID != todoId)
                }

            })
        }
    },
    todoEdit: function (todoId) {
        this.$refs.creator.todoEdit(todoId)
    },
    mdRender: function (content) {
        return marked(content, { sanitize: true })
    },
    updatedTodo: function (newTodo) {
        this.todos = this.todos.map(todo => {
            if (todo.ID == newTodo.ID) {
                return newTodo
            }
            return todo
        })
    }
  },
};
</script>